{{ if ne .chezmoi.os "windows" -}}
[".config/tmux/plugins/catppuccin/tmux"]
    type = "archive"
    url = "https://github.com/catppuccin/tmux/archive/refs/tags/v2.1.3.tar.gz"
    stripComponents = 1
    refreshPeriod = "0"
{{ end -}}
