{{- $gitName := promptStringOnce . "gitName" "Git user.name" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git user.email" -}}
{{- $gitBranch := promptStringOnce . "gitDefaultBranch" "Git init.defaultBranch" "main" -}}
[data]
    gitName = {{ $gitName | quote }}
    gitEmail = {{ $gitEmail | quote }}
    gitDefaultBranch = {{ $gitBranch | quote }}
