{{ if ne .chezmoi.os "windows" -}}
#!/bin/sh
# .tmux.conf hash: {{ include "dot_tmux.conf" | sha256sum }}
# 插件列表变化时自动安装/清理 TPM 插件
command -v tmux >/dev/null 2>&1 || exit 0
[ -x "$HOME/.tmux/plugins/tpm/bin/install_plugins" ] || exit 0
"$HOME/.tmux/plugins/tpm/bin/install_plugins"
"$HOME/.tmux/plugins/tpm/bin/clean_plugins"
{{ end -}}
